<h1>Bienvenido a la página principal</h1>
{{#if user}}
<p>Hola {{user.first_name}}!</p>
  <a href="/profile"><button>Ver perfil</button></a>
  <a href="/logout"><button>Cerrar sesión</button></a>
{{else}}
  <a href="/login"><button>Iniciar sesión</button></a>
  <a href="/register"><button>Registrarse</button></a>
{{/if}}