<h1>Bienvenido a la p치gina principal</h1>
<p><a href="/login">Iniciar sesi칩n</a> | <a href="/register">Registrarse</a></p>
{{#if user}}
  <p>Hola, {{user.email}}! <a href="/profile">Ver perfil</a></p>
  <p><a href="/logout">Cerrar sesi칩n</a></p>
{{else}}
  <p>No est치s autenticado.</p>
{{/if}}